<!DOCTYPE html>
<html lang="en">
<head>
    <title>Data Deletion Instructions</title>
</head>
<body>
    <h1>Data Deletion Instructions</h1>
    <p>This is a student project for learning purposes. We do not store personal data.</p>
    <p>If you wish to request data deletion, please contact us at krishnasikheriya5@gmail.com</p>
</body>
</html>
